/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background:transparent;
	color:#555555;
	font-size:12px;
	font-weight:normal;
	font-variant:normal;
	font-style:normal;
	line-height:1.6em;
	font-family:Arial, Helvetica, sans-serif; 
}

ul li { list-style:none; }

a { display:inline-block;text-decoration:none; }

ul.errors { margin:10px;padding:10px;width: 400px;border: 2px solid red;background-color: #f0f0f0; }
ul.errors li { font-size:12px;list-style:square inside none; }
.field_with_errors input { padding:0px;background-color:red; }
 
#login_form form label { text-align:left; }  
  
form { padding:10px; }
form p { padding:0.5em 0; }
label { width:110px;float:left;text-align:right;font-weight:bold;padding-right:10px; }
input[type='submit'] { padding:5px;margin:10px 0;color:#eee;border-radius:5px;background-color:#4C7CCF;font-weight:bold; }

.data, .actions { padding:10px; }
.clear { clear:both;height:0;overflow:hidden; }
.center { text-align:center;}
.left { text-align:left; }

/* login area */
#pre_header_container {
	background-color:#222;
	margin-bottom:15px;
	position:relative;
	border:1px solid green;
}

#pre_header {
	margin:0 auto;
	text-align:right;
	width:960px;
}

#pre_header ul.navigation {
	float:right;
	margin-bottom:5px;
	margin-top:5px;
	margin-right:0;
}

ul.navigation {
	display: inline;
	margin: 0;
	padding: 0;
}

ul.navigation li {
	display: block;
	float: left;
}

ul.navigation li a {
	color: #eee;
	padding: 0 5px;
}

.container {
	width: 960px; 
	border: 1px solid #c1c1c1;
	margin: auto;
	float: none;
	background: #fff;
}

#header {
	background-color: #4c7ccf;
	color: #eee;
	height: 75px;
	z-index:5;
}

#logo {
	font-size:24px;
	font-weight:normal;
	width:560px;
	line-height:1.4em;
	overflow:hidden;
	padding-left:10px;	
	padding-top:10px;
}

#navigation { margin-top:10px;padding-left:10px;}
#navigation ul li a { border-top-left-radius:2px;border-top-right-radius:2px; }
#navigation ul li a:active { font-weight: bold; }
#navigation ul li a:hover { background-color:#E0ECFF;color:#4C7CCF; }
#navigation ul li ul { display: none; }

#main { padding:10px; }

#panel1 { border:1px solid #dedede;width:100%;float:left;min-height:150px; }
#panel1 h3 { border-bottom:1px solid #dedede;padding:0 10px; }
#panel1 h3 span { float:right;font-weight:normal;font-size:10px; }

table { border-collapse:collapse;border-spacing:0;width:100%; }
table, table th, table td { border:1px solid #dedede;padding:10px 0;height:50px;vertical-align:middle;}
